.rsvp-section {
    background: url("../../../assets/gokarna.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .image-row {
        position: relative;
    }

    .banner {
        margin-top: 75px;
        text-align: center;
        position: relative;

        @media (max-width: 468px) {
            margin-top: 20px;
        }

       .upper-logo {
           width: 100%;
           opacity: 0.6;
       }

       .lower-logo {
           width: 30%;
           opacity: 0.7;
       }

       .title {
        text-align: center;
        color: white;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;

        @media (max-width: 468px) {
            position: relative;
            top: 0;
        }
       }
    }
}

.subtitle {
    text-align: center;
    font-size: 22px;
    font-family: 'roboto';
    color: white;
}

input {
    background-color: white !important;
}

.input-field > label {
    left: 20px !important;
}

.select-wrapper input.select-dropdown {
    background-color: white;
}

.button-holder {
    text-align: center;
}

.submit {
    background: #de037f;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}

input:not([type]).validate + label, input[type=text]:not(.browser-default).validate + label, input[type=password]:not(.browser-default).validate + label, input[type=email]:not(.browser-default).validate + label, input[type=url]:not(.browser-default).validate + label, input[type=time]:not(.browser-default).validate + label, input[type=date]:not(.browser-default).validate + label, input[type=datetime]:not(.browser-default).validate + label, input[type=datetime-local]:not(.browser-default).validate + label, input[type=tel]:not(.browser-default).validate + label, input[type=number]:not(.browser-default).validate + label, input[type=search]:not(.browser-default).validate + label, textarea.materialize-textarea.validate + label {
    color: #de037f;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
