.bold {
    font-weight: bold !important;
}

.no-row-bottom-spacing {
    margin-bottom: 0 !important;
}

.no-row-top-spacing {
    margin-top: 0 !important;
}

.no-gutter {
    padding: 0 !important;
}

.no-col-gutter {
    padding-left: 0 !important;
    padding-right: 0 !important;
}