<section class="personal-details">
  <p class="label font-size-medium"><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal app-theme-color"></i>Front End Developer</p>
  <p class="label font-size-medium"><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal app-theme-color"></i>Munich, Germany</p>
  <p class="label font-size-medium"><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal app-theme-color"></i>ritwbanerjee@gmail.com</p>
  <p class="label font-size-medium"><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal app-theme-color"></i>+91 (879)-250-9754</p>
  <hr>
</section>
