<app-marriage-navbar *ngIf="showNav"></app-marriage-navbar>
<div class="banner">
  <img
    src="../../../assets/header-logo.png"
    alt="sectionlogo"
    class="section-logo hide-on-med-and-down"
  />
  <h3 class="banner-title dancing-font">
    <span class="custom-color">Wedding</span> Event
  </h3>
</div>

<div class="row wedding-subtitle">
    <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3 center">
        <p> Find the details of the Wedding events below. Come join us in Celebrating this auspicious occassion!</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m4 offset-m2">
        <div class="time-holder">
            <h4 class="custom-color dancing-font title">{{ timeObject[panel].title }}</h4>
            <h5 class="dancing-font">{{ timeObject[panel].date }}</h5>
            <h5 class="dancing-font">{{ timeObject[panel].time }}</h5>
        </div>
    </div>
    <div class="col s12 m4 offset-m1">
        <ul class="collapsible">
            <li class="active" (click)="openPanel('haldi')">
                <div class="collapsible-header">
                    <div class="panel-number">1</div>
                    <h6 class="panel-title">Haldi Ceremony</h6>
                </div>
                <div class="collapsible-body">
                    <p>
                        Come get your hands dirty with raw turmeric paste and dont forget to mash the bride & groom with it!
                        This is your chance to take revenge on whatever wrong he or she has caused to you!
                    </p>
                </div>
            </li>

            <li (click)="openPanel('marriage')">
                <div class="collapsible-header">
                    <div class="panel-number">2</div>
                    <p class="panel-title">Marriage Party</p>
                </div>
                <div class="collapsible-body">
                    <p>
                        They say
                        <span class="custom-color dancing-font quote">"
                            Through sickness and through health' sounds so simple on your wedding day, but in reality,
                            they become significant words that are a huge responsibility and show true character to navigate!"
                        </span>
                    </p>
                    <p> Please make your presence felt and shower your blessings upon us as we walk the path of
                        togetherness fulfilling the above quote. </p>
                </div>
            </li>

            <li (click)="openPanel('reception')">
                <div class="collapsible-header">
                    <div class="panel-number">3</div>
                    <p class="panel-title">Reception <span class="custom-color"> & </span> Dinner</p>
                </div>
                <div class="collapsible-body">
                    <p>
                        Done with all the Marriage rituals and customs, this is our time when we sit together and indulge in gossips over some
                        lovely Indian delicacies! Make sure you make every effort to join us and feature in our lovely gupsups!
                    </p>
                </div>
            </li>
            
        </ul>
    </div>
</div>

<div class="row no-row-bottom-spacing">
    <div class="col s12">
        <app-marriage-map [lat]="timeObject[panel].lat" [lng]="timeObject[panel].lng"></app-marriage-map>
    </div>
</div>
