.skills {

    .title {

        color: #757575;
        margin-top: 0;
        
        i {
            margin: 0 15px;
            font-size: 18px;
        }
    }

    .skills-wrapper {
        padding: 0 15px;
    }
}
