%box-shadow {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.brief {
    @extend %box-shadow;
    height: 1000px;

    .profile-image {
        width: 100%;
    }
}

.details {
    @extend %box-shadow;
    height: 1000px;
}