<navbar></navbar>
<section>
  <div class="row no-row-bottom-spacing">
    <div class="col s12 m5 l4 personal-details-holder">
      <div class="brief app-box-shadow">
        <app-image-holder></app-image-holder>
        <app-personal-details></app-personal-details>
        <app-skills></app-skills>
        <app-languages></app-languages>
      </div>
    </div>
    <div class="col s12 m7 l8 work-details-holder">
      <div class="details">
        <app-work-experience></app-work-experience>
      </div>
    </div>
  </div>
</section>
