.banner {
    background-color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 90px 0 20px;
    @media (max-width: 468px) {
        padding: 20px 20px 0 20px;
    }
    .section-logo {
        width: 50%;
    }
    .banner-title {
        position: absolute;
        bottom: 60px;
        @media (max-width: 468px) {
            bottom: 0;
            position: relative;
        }
    }
}

.family {
    background-color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'roboto';

    .family-logo-holder {
        margin-top: 50px;

        .title {
            font-weight: 300;
            line-height: 1.625em;
            color: black;
            font-size: 32px;
        }

        .title-border {
            width: 75%;
            opacity: 0.8;
        }

        .name {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Roboto';
        }
    }

    .family-logo-row {
        margin-top:30px;
        @media (min-width: 469px) {
            display: flex;
        }
    }

    .family-members-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #de037f;
    }
}