.banner {
    background-color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 90px 0 20px;
    @media (max-width: 468px) {
        padding: 20px 20px 0 20px;
    }
    .section-logo {
        width: 50%;
    }
    .banner-title {
        position: absolute;
        bottom: 60px;
        @media (max-width: 468px) {
            bottom: 0;
            position: relative;
        }
    }
}

.about-us {
    background-color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'roboto';
}

.profile {

    margin-top: 30px;

    .profile-picture-holder {
        text-align: center;
        font-weight: 300;
        line-height: 1.625em;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-family: 'Raleway', sans-serif;
        color: black;
        margin-bottom: 40px;

        .profile-picture {
            width: 338px;
            height: 338px;
            border-radius: 50%;

            @media (min-width: 320px) and (max-width: 900px) {
                width: 200px;
                height: 200px;
            }
        }

        .sub-title-holder {
            text-align: center;

            .sub-title {
                padding: 0 30px;
                font-family: 'roboto';
                color: #757575;
                font-size: 20px;
                font-weight: 300;
                line-height: 2rem;
            }
        }
    }

    .social-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 65px;

        .social-logo-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid #d2d2d2;
            margin-right: 10px;

            @media (min-width: 320px) and (max-width: 900px) {
                height: 35px;
                width: 35px;
            }

            &:hover {
                height:50px;
                width: 50px;
                cursor: pointer;
                background: #d2d2d2;
                opacity: 0.7;
            }

            a {
                display: flex;
                justify-content: center;

                img {
                    width: 60%;
                }
            }
        }
    }
}