<div class="banner">
    <img src="../../../assets/header-logo.png" alt="sectionlogo" class="section-logo hide-on-med-and-down">
    <h3 class="banner-title dancing-font">About <span class="custom-color">Us</span></h3>
</div>
<div class="row about-us">
    <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
        <p> Childhood buddies turned Lover, We've been through a roller coaster journey of over 9 years. Come join us on this auspicious occassion when we finally decide to tie the knot and call us each others soulmates!</p>
    </div>
</div>