<nav>
    <div class="nav-wrapper">
      <a class="navbar-brand" href="#">
        Ritwik<span class="custom-color"> & </span> Sneha
      </a>
      <a data-target="mobile-sidenav" class="sidenav-trigger right"><i class="hamburger fa fa-bars"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/']" routerLinkActive="custom-color" >Home</a></li>
        <li><a [routerLink]="['/aboutus']" routerLinkActive="custom-color">About Us</a></li>
        <li><a [routerLink]="['/story']" routerLinkActive="custom-color">Story</a></li>
        <li><a [routerLink]="['/people']" routerLinkActive="custom-color">People</a></li>
        <li><a [routerLink]="['/event']" routerLinkActive="custom-color">Event</a></li>
        <li><a [routerLink]="['/rsvp']" routerLinkActive="custom-color">RSVP</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-sidenav">
    <li><a [routerLink]="['/']" routerLinkActive="custom-color" >Home</a></li>
    <li><a [routerLink]="['/aboutus']" routerLinkActive="custom-color">About Us</a></li>
    <li><a [routerLink]="['/story']" routerLinkActive="custom-color">Story</a></li>
    <li><a [routerLink]="['/people']" routerLinkActive="custom-color">People</a></li>
    <li><a [routerLink]="['/event']" routerLinkActive="custom-color">Event</a></li>
    <li><a [routerLink]="['/rsvp']" routerLinkActive="custom-color">RSVP</a></li>
  </ul>