.custom-color {
    color: #de037f !important;
}

nav {
    background: none;
    color: black;
    padding: 0 20px;

    .navbar-brand {
        color: black;
        font-family: 'Dancing Script', cursive;
        font-size: 24px;
    }
}

nav ul a {
    color: black;
}